<div class="row justify-content-center make-down">
    <div class="col-lg-10">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h2 class="name-here">Stack Overflow Dummy</h2>
          </div>
            <div class="question-container">
                <div class="question-box" *ngFor="let question of questions_array;let idx=index">
                    <div class="question">
                        <table class="table-design">
                            <tr>
                                <td>{{idx+1}}. {{question["question"]}}</td>
                                <td><button class="btn btn-github btn-md pulls-right" (click)="question_obj_clicked(question)">View</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="bottom-question-layer">Asked by: @shubham   |   Asked: 1 month Ago  |   Likes : 123 |   Solutions:  11  |   Tags: Programming, Coding</div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>